# OS Files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# Build files (jika ada)
dist/
build/